{% extends 'vacinas/base.html' %}

{% block content %}
<div class="container mt-4">
    <h3 class="fw-bold mb-4"><i class="fa-solid fa-search me-2 text-primary"></i>Consultar Caderneta</h3>
    
    <div class="card border-0 shadow-sm rounded-4 p-4 mb-4">
        <form method="GET" action="{% url 'caderneta_paciente' %}">
            <div class="row g-2">
                <div class="col-9">
                    <input type="text" name="cpf" class="form-control rounded-pill" placeholder="Digite seu CPF para consultar...">
                </div>
                <div class="col-3">
                    <button type="submit" class="btn btn-primary w-100 rounded-pill">Buscar</button>
                </div>
            </div>
        </form>
    </div>

    {% if busca_ativa %}
        {% if paciente %}
            {% else %}
            <div class="alert alert-warning rounded-4">Paciente não encontrado.</div>
        {% endif %}
    {% endif %}
</div>
{% endblock %}