{% extends 'vacinas/base.html' %}

{% block content %}
<header class="mb-5 d-flex justify-content-between align-items-center">
    <div>
        <h2 class="fw-bold mb-0">Controle de Estoque</h2>
        <p class="text-muted">Gestão de insumos e lotes disponíveis na rede municipal.</p>
    </div>
    <a href="{% url 'cadastrar_estoque' %}" class="btn btn-primary shadow-sm">
    <i class="fas fa-plus-circle me-2"></i>Entrada de Lote
</a>
</header>

<div class="content-card border-0 shadow-sm">
    <div class="table-responsive">
        <table class="table table-mobile-cards">
           <thead>
        <tr>
            <td>VACINA / IMUNIZANTE</td>
            <td>LOTE</td>
            <td>QTD. DISPONÍVEL</td>
            <td>UNIDADE / POSTO</td> <td>VALIDADE</td>
            <td>STATUS</td>
        </tr>
    </thead>
    <tbody>
        {% for item in itens %}
        <tr>
            <td class="fw-bold text-primary">{{ item.nome_vacina }}</td>
            <td>{{ item.lote }}</td>
            <td>{{ item.quantidade_atual }} <span class="text-muted small">doses</span></td>
            <td>
                {% if item.posto %}
                    <span class="badge bg-light text-dark border">
                        <i class="fas fa-hospital-user me-1"></i> {{ item.posto.nome }}
                    </span>
                {% else %}
                    <span class="text-danger small fst-italic">Não vinculado</span>
                {% endif %}
            </td>
            <td>{{ item.data_validade|date:"d/m/Y" }}</td>
            <td><span class="badge bg-success-subtle text-success border border-success-secondary">Estoque Ok</span></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
        </table>
    </div>
</div>
{% endblock %}